<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <i class="fas fa-warehouse"></i> POS by RG</div>
    <div class="list-group list-group-flush">
        <ul class="list-unstyled components">
            <li>
                <a href="#InicioSub" data-toggle="collapse" class="dropdown-toggle" class="list-group-item list-group-item-action bg-light" routerLink="home">
                    <i class="fas fa-home"></i> Inicio
                </a>
                <ul class="collapse list-unstyled" id="InicioSub">
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic" href="#">
                            <p class="submenu-style">Clientes</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic" href="#">
                            <p class="submenu-style">
                                Proveedores
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic">
                            <p class="submenu-style">
                                Productos
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic" href="#">
                            <p class="submenu-style">
                                Ventas
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ClientesOpc" data-toggle="collapse" class="dropdown-toggle" class="list-group-item list-group-item-action bg-light" routerLink="customer">
                    <i class="fas fa-user-friends"></i> Clientes
                </a>
                <ul class="collapse list-unstyled" id="ClientesOpc">
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic" href="#">
                            <p class="submenu-style">Ver Clientes</p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic" href="#">
                            <p class="submenu-style">
                                Crear Cliente
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class="list-group list-group-item-action bg-light font-italic" href="#">
                            <p class="submenu-style">
                                Modificar Cliente
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="list-group-item list-group-item-action bg-light" routerLink="products">
                    <i class="fas fa-boxes"></i> Productos
                </a>
            </li>
            <li>
                <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="supplier">
                    <i class="far fa-building"></i> Proveedores
                </a>
            </li>
            <li>
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-wrench"></i> Configuracion
                </a>
            </li>
            <li>
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-cart-arrow-down"></i> Ventas
                </a>
            </li>
            <li>
                <a href="#" class="list-group-item list-group-item-action bg-light">
                    <i class="fas fa-tachometer-alt"></i> Operaciones Diarias</a>
            </li>
        </ul>
    </div>
</div>
